@import "tailwindcss";

:root {
  --background: #312A33;

  --foreground: #171717;
  --lavender:   #F1E4F3;
  --blossom:    #F4BBD3;
  --pink:       #F686BD;
  --rosy:       #FE5D9F;

  --primary:    #D69DB5;
  --card:       #48404D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
  --background: #d6d2d2;
  --foreground: #171717;
  --lavender:   #F1E4F3;
  --blossom:    #F4BBD3;
  --pink:       #F686BD;
  --rosy:       #FE5D9F;
  }
}

.title {
  font-style: bold;
  font-size: 32;
  margin-left: 5%;
  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.inventory-table {
   margin: 0% 10% 0% 10%;
}

button {
   /* background-color: var(--pink); */
   background-color: var(--primary);
   color: var(--lavender);
   font-weight: bold;
   align-self: end;

   padding: 5px;
   margin: 5px;

   border-style: solid;
   border-radius: 5px;
   border-color: var(--lavender);

}


.table-header {
   font-weight: bold;
   border-style: none;
}

.inventory-row {
   display: flex;
   flex-direction: row;

   margin: 5px;
   padding: 10px 5px;


   color: var(--lavender);
}

.inventory-entry {
   /* border-style: solid; */
   /* border-color: var(--lavender); */
   /* border-width: .5px; */
   border-radius: 10px;

   box-shadow: -1px 1px 5px rgb(0 0 0 / 20%);
   
   background-color: var(--card);
}

.inventory-field {
  width: 500px;

}

input[type="number"] {
   appearance: textfield;
}


.popup {
   position: fixed;
   height: 80vh;
   width: 80vw;
   background-color: white;
   align-self: center;
   margin: 10vh 10vw;
   border-radius: 10px;
   padding: 10px;
}
