@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.title {
  font-style: bold;
  font-size: 32;
  margin-left: 5%;
  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.inventory-table {
   margin: 0% 10% 0% 10%;
}

.table-header {
   font-weight: bold;
   background-color: gray;
}

.inventory-row {
   display: flex;
   flex-direction: row;

   margin: 5px;

   border-style: solid;
   border-color: black;
   border-width: 2px;
   border-radius: 5px;

   box-shadow: -1px 1px 5px rgb(0 0 0 / 20%);
}

.inventory-field {
  width: 500px;

}

